.navigateContent{
    background: rgba(241, 245, 255, 0.5);
    border-radius: 16px;
    margin-top: 20px;
    padding: 80px 61px;
    margin-bottom: 24px;
}

.navigateTitle{
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 38px;
    color: #121722;
    max-width: 285px;
}
.navigateSub{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: rgba(18, 23, 34, 0.7);
    max-width: 340px;
}